  <div class="container text-center p-5">
    <h2 class="text-center">Ingredients of a <%=@cocktail.name %> :</h2>
  </div>


  <div class="card-product">
          <div class="card-product-infos">
        <% @cocktail.doses.each do |dose| %>
          <%= dose.description %>
          <%= dose.ingredient.name %>
          <%= link_to "Delete dose", dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
        <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-outline-primary" %>

  </div>
  </div>
  </div>


    <br>
    <%= link_to "List all cocktails", cocktails_path, class: "btn btn-outline-primary" %>
    </div>
  </div>


